html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
   }
   
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('images/background.jpg');
    background-size: 100% 100%;
    background-repeat: none;
    position: relative; 
   }

.planet1{
    width: 10%;
    filter: blur(.5px);
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 1;
    animation: planet1 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 1.7s;
    opacity: 0;
    animation-timing-function: ease;
}

@keyframes planet1 {
    from{
        opacity: 0;
        transform: translateX(-5px)
    }
    to{
        opacity: 1;
        transform: translateX(5px)   
    }
}
   
.planet2{
    width: 20%;
    filter: blur(.5px);
    position: absolute;
    top: 60%;
    right: 89%;
    z-index: 2;
    animation: planet2 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 1.9s;
    opacity: 0;
    animation-timing-function: ease;
}

@keyframes planet2 {
    from{
        opacity: 0;
        /* transform: translate(10px); */
    }
    to{
        opacity: 1;
        transform: translate(-10px);
    }
}
   
   .planet3{
       width: 15%;
       filter: blur(.5px);
       position: absolute;
       top: 20%;
       right: 60%;
       z-index: 3;
       animation: planet3 1.5s;
       animation-fill-mode: forwards;
       animation-delay: 2.1s;
       opacity: 0;
       animation-timing-function: ease-out;
   }

   @keyframes planet3 {
    from{
        opacity: 0;
        transform: translate(-40px);
    }
    to{
        opacity: 1;
    }
}

.container{
    display: grid;
    width: 70vw;
    grid-template-rows: 3fr 1fr;
    z-index: 5;
}

.x, .y{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.x{
    animation: logo 1s;
}

@keyframes logo{
    from{
        opacity: 0;
    }
        
    to{
        opacity: 1;
        animation-fill-mode: forwards;
    }
}

.y{
    animation: btnY 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes btnY{
    from{
        opacity: 0;
     }
     
     to{
         opacity: 1;
    }
}
    
.button {
    background: none;
    color: whitesmoke;
    width: 240px;
    height: 40px;
    border: 1px solid whitesmoke;
    font-size: 18px;
    border-radius: 20px;
    transition: .6s;
    outline: none;
}
   
.button:hover {
    background: white;
    cursor: pointer;
    color: black;
    transform: scale(1.05);
}

/* --- MEDIA QUERIES --- */

@media only screen and (max-width: 768px){
    .mainlogo{
        width: 70vw;
    }

    .button{
        width: 200px;
        height: 30px;
        font-size: 14px;
        animation: changeColor 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-direction: alternate-reverse;
        animation-delay: 3s;
    }

    @keyframes changeColor{
        from{
            transform: scale(1);
            color: black;
            background: whitesmoke;
        }
        to{
            transform: scale(1);
            color: white;
            background: none;
        }
    }

    .planet1{
        width: 15%;
    }

    .planet2{
        width: 40%;
        top: 70%;
        right: 80%;
    }

    .planet3{
        width: 20%;
        top: 30%;
        right: 70%;
    }
}

@media only screen and (max-width: 480px){
    .mainlogo{
        width: 70vw;
    }

    .button{
        width: 200px;
        height: 30px;
        font-size: 14px;
        animation: changeColor 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-direction: alternate-reverse;
        animation-delay: 3s;
    }

    @keyframes changeColor{
        from{
            transform: scale(1);
            color: black;
            background: whitesmoke;
        }
        to{
            transform: scale(1);
            color: white;
            background: none;
        }
    }

    .planet1{
        width: 15%;
    }

    .planet2{
        width: 30%;
        top: 70%;
        right: 80%;
    }

    .planet3{
        width: 25%;
        top: 30%;
        right: 65%;
    }
}